body {
    background-image: url("a5bg.png");
    margin: 0;
    padding: 0;
}

#container {
    width: 600px;
    margin: 50px auto;
}

header {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    padding: 10px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

nav li {
    display: inline-block;
    background-color: #000066;
    margin-right: 5px;
}

nav li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 8px;
    font-size: 10px;
}

nav li a:hover {
    background-color: #66ccff;
}

main {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    padding: 10px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

main p {
    text-align: justify;
    font-size: 8px;
}

main p a {
    color: #0000ff;
    font-weight: bold;
    text-decoration: none;
}

main p a:hover {
    color: #ff0000;
    text-decoration: underline;
}

footer {
    background-color: #000066;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 20px;
}